body{
  display: flex;
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
}

@media(max-width:1150px){
  .photo{
    display: none;
  }
  .forma{
    margin: 0 auto;
  }
}


@media(max-width:500px){
  body{
  padding: 0;
  }
}